<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Card_1</string>
		<key>id</key>
		<integer>1</integer>
		<key>attack</key>
		<integer>1</integer>
		<key>battlepoint</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>canAttack</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Card_2</string>
		<key>id</key>
		<integer>2</integer>
		<key>attack</key>
		<integer>1</integer>
		<key>battlepoint</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>canAttack</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Card_3</string>
		<key>id</key>
		<integer>3</integer>
		<key>attack</key>
		<integer>1</integer>
		<key>battlepoint</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>canAttack</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Card_4</string>
		<key>id</key>
		<integer>4</integer>
		<key>attack</key>
		<integer>1</integer>
		<key>battlepoint</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>canAttack</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Card_5</string>
		<key>id</key>
		<integer>5</integer>
		<key>attack</key>
		<integer>1</integer>
		<key>battlepoint</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>canAttack</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Card_6</string>
		<key>id</key>
		<integer>6</integer>
		<key>attack</key>
		<integer>1</integer>
		<key>battlepoint</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>canAttack</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Card_7</string>
		<key>id</key>
		<integer>7</integer>
		<key>attack</key>
		<integer>1</integer>
		<key>battlepoint</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>canAttack</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Card_8</string>
		<key>id</key>
		<integer>8</integer>
		<key>attack</key>
		<integer>1</integer>
		<key>battlepoint</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>canAttack</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Card_9</string>
		<key>id</key>
		<integer>9</integer>
		<key>attack</key>
		<integer>1</integer>
		<key>battlepoint</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>canAttack</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Card_10</string>
		<key>id</key>
		<integer>10</integer>
		<key>attack</key>
		<integer>1</integer>
		<key>battlepoint</key>
		<integer>1</integer>
		<key>health</key>
		<integer>1</integer>
		<key>canAttack</key>
		<false/>
	</dict>
</array>
</plist>
