<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Card_1</string>
		<key>id</key>
		<string>1</string>
		<key>attack</key>
		<string>1</string>
		<key>battlepoint</key>
		<string>1</string>
		<key>health</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Card_2</string>
		<key>id</key>
		<string>2</string>
		<key>attack</key>
		<string>1</string>
		<key>battlepoint</key>
		<string>1</string>
		<key>health</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Card_3</string>
		<key>id</key>
		<string>3</string>
		<key>attack</key>
		<string>1</string>
		<key>battlepoint</key>
		<string>1</string>
		<key>health</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Card_3</string>
		<key>id</key>
		<string>1</string>
		<key>attack</key>
		<string>1</string>
		<key>battlepoint</key>
		<string>1</string>
		<key>health</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Card_4</string>
		<key>id</key>
		<string>4</string>
		<key>attack</key>
		<string>1</string>
		<key>battlepoint</key>
		<string>1</string>
		<key>health</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Card_5</string>
		<key>id</key>
		<string>5</string>
		<key>attack</key>
		<string>1</string>
		<key>battlepoint</key>
		<string>1</string>
		<key>health</key>
		<string>1</string>
	</dict>
</array>
</plist>
